---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Button from "../../components/Button.astro";
import { formatDate, capitaliseAll } from "../../utils";
import Tags from "../../components/Tags.astro";
import GrayBadge from "../../components/GrayBadge.astro";

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<"blog">[] =
    await getCollection("blog");

  return allBlogArticles.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props;

if (entry === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <div class="flex justify-between items-center">
    <Button buttonText="< All posts" destination="/posts" />
    <p>
      {formatDate(entry.data.pubDate)}
    </p>
  </div>
  <img
    src={"/cover/" + entry.data.cover}
    alt="Article cover image"
    class="my-6"
    width="640"
  />
  <h1 class="text-4xl font-bold mb-4">
    {entry.data.title}
    <GrayBadge>{capitaliseAll(entry.data.category)}</GrayBadge>
  </h1>

  <Tags tags={entry.data.tags} />
  <Content />
</MainLayout>

<!-- These styles effect the post Content -->
<style is:global>
  p {
    margin: 20px 0;
  }

  h2 {
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }
</style>
